<app-search></app-search>
<div class="container">
  <h1>{{actor?.name}}</h1>
  <div class="row">
    <div class="col-sm-4">
      <img class="headshot" *ngIf="actor?.images.length !== 0" src={{actor?.images.medium.url}} alt="{{actor?.name}}">
    </div>
    <div class="col-sm-6 description">
      <p>{{actor?.description}}</p>
    </div>
  </div>
  <div class="filterByRole">
    <button [class]="allActive()" (click)="toggleShow('showAll')">All</button>
    <button [class]="actorActive()" (click)="toggleShow('showMoviesActed')">Actor</button>
    <button [class]="directorActive()" (click)="toggleShow('showMoviesDirected')">Director</button>
    <button [class]="writerActive()" (click)="toggleShow('showMoviesWritten')">Writer</button>
    <button [class]="producerActive()" (click)="toggleShow('showMoviesProduced')">Producer</button>
  </div>
  <div *ngIf="showMoviesActed">
    <h2>As Actor:</h2>
    <a (click)="mostRecentMovies()" *ngIf="mostRecentMoviesOn">Sort by Most Recent</a>
    <div class="movieContainer">
      <div *ngFor="let credit of moviesActedIn" (click)="navigateToMovie(credit?.id, credit?.media_type)" class="movie">
        <div class="hiddenText">
          <h5>As {{credit?.character}}</h5>
        </div>
        <img src="https://image.tmdb.org/t/p/w185/{{credit?.poster_path}}" alt="{{credit?.title}}" />
      </div>
    </div>
  </div>

  <div *ngIf="showMoviesDirected">
    <h2>As Director:</h2>
    <a (click)="mostRecentDirector()" *ngIf="mostRecentDirectedOn">Sort by Most Recent</a>
    <div class="movieContainer">
      <div *ngFor="let credit of moviesDirected" class="movie" (click)="navigateToMovie(credit?.id, credit?.media_type)">
        <img src="https://image.tmdb.org/t/p/w185/{{credit?.poster_path}}" alt="{{credit?.title}}">
      </div>
    </div>
  </div>

  <div *ngIf="showMoviesWritten">
    <h2>As Writer:</h2>
    <a (click)="mostRecentWriter()" *ngIf="mostRecentWrittenOn">Sort by Most Recent</a>
    <div class="movieContainer">
      <div *ngFor="let credit of moviesWritten" class="movie" (click)="navigateToMovie(credit?.id, credit?.media_type)">
        <img src="https://image.tmdb.org/t/p/w185/{{credit?.poster_path}}" alt="{{credit?.title}}" />
      </div>
    </div>
  </div>
  <div *ngIf="showMoviesProduced">
    <h2>As Producer:</h2>
    <a (click)="mostRecentProducer()" *ngIf="mostRecentProducedOn">Sort by Most Recent</a>
    <div class="movieContainer">
      <div class="movie" *ngFor="let credit of moviesProduced" (click)="navigateToMovie(credit?.id, credit?.media_type)">
        <img src="https://image.tmdb.org/t/p/w185/{{credit?.poster_path}}" alt="{{credit?.title}}" />
      </div>

    </div>
  </div>
</div>
