.headshot {
  margin-bottom: 20px;
}
.movieContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.movie {
  margin: 20px;
  position: relative;
  overflow: hidden;
}
.movie:hover {
  cursor: pointer;
}
.movie:hover .hiddenText{
  bottom: 0px;
}
.hiddenText {
  background: rgba(255,255,255,0.9);
  position: absolute;
  width: 100%;
  padding: 5px;
  bottom: -70px;
  transition: bottom ease-in-out 200ms;
}
