.wrap {
  max-width: 1400px;
  margin: 0 auto;
}
.titleSection {
  position: relative;
}
.topBilled:hover, a {
  cursor: pointer;
}
.banner {
  width: 100%;
  height: 40vw;
  max-height: 500px;
  object-fit: cover;
  object-position: top;
  opacity: 0.5;
}
.poster {
  position: absolute;
  top: 10%;
  left: 5%;
  height: 100%;
}
.title {
  margin-top: 0;
  z-index: 2;
  color: #444;
}
.overview {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text {
  background: rgba(255,255,255, 0.6);
  position: absolute;
  width: 50%;
  height: 100%;
  top: 10%;
  left: 35%;
  margin-left: 80px;
  padding: 30px;
  overflow: auto;
}
.streamingServices {
  display: flex;
  flex-wrap: wrap;
}
.streaming img{
  margin: 5px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.streaming img:hover {
  box-shadow: 2px 2px 10px black;
}
.starringTitle {
  margin-top: 80px;
  margin-left: 5%;
}
.starring {
  width: 87%;
  margin-top: 10px;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
}
.topBilled {
  margin: 5px;
}
.topBilled img {
  height: 200px;
  width: 150px;
  object-fit: cover;
}
.actorName, .actorRole {
  margin: 0;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cast {
  margin-top: 10px;
  margin-left: 5%;
  width: 35%;
  line-height: 1em;
}
.userButtons {
  margin-left: -25px;
}
.favoriteButtons{
  width: 170px;
}
.favoriteButtons img {
  max-height: 1.2em;
  margin-top: -2px;
  filter: invert(1);
}
@media screen and (max-width: 1000px) {
  .text {
    width: 60%;
    height: 100%;
    top: 10%;
    left: 27%;
    margin-left: 80px;
    padding: 30px;
    overflow: auto;
  }
}
@media screen and (max-width: 910px) {
  .text {
    width: 90%;
    left: 5%;
    top: 2%;
    height: auto;
    max-height: 420px;
    margin-left: 0px;
    padding-left: 18%;
  }
  .poster {
    position: absolute;
    top: 8%;
    min-height: 150px;
    z-index: 3;
    left: 2%;
    height: 60%;
  }
  .starringTitle {
    margin-top: 130px;
  }
  .overview {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .favoriteButtons{
    width: auto;
    font-size: 0.9em;
  }
}
@media screen and (max-width: 755px) {
  .text {
    position: relative;
    height: auto;
    left: auto;
    max-height: none;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 30px;
  }
  .banner {
    height: 300px;
  }
  .poster {
    position: absolute;
    top: 20px;
    height: 250px;
    z-index: 3;
    left: 5%;
  }
  .starringTitle {
    margin-top: 20px;
  }
  .cast {
    width: 90%;
  }
}
