<app-search></app-search>

<div class="wrap">
  <div class="titleSection">
    <img class="banner"[src]="movie?.backdrop" alt="{{movie?.title}}">
    <img class="poster" [src]="movie?.poster_large" alt="{{movie?.poster}}">
    <div class="text">
      <h1 class="title">{{movie?.title}}</h1>
      <p class="overview">{{movie?.overview}}</p>
      <div class="row">
        <div class="col-sm-8">
          <p><strong>Rating:</strong> {{movie?.rating}}</p>
          <p><strong>Release Year:</strong> {{movie?.release_year}}</p>
          <p><strong>Directors </strong><span *ngFor="let director of movie?.directors" (click)="getCrewById(director?.id)">| <a>{{director?.name}}</a> </span></p>
          <p><strong>Writers </strong><span *ngFor="let writer of movie?.writers" (click)="getCrewById(writer?.id)">| <a>{{writer?.name}}</a> </span></p>
        </div>
        <div class="col-sm-4">
          <div *ngIf="user" class="userButtons">
            <button (click)="addToFavorites()" class="btn btn-md btn-success favoriteButtons" *ngIf="!userFavorite">Add to Favorites</button><br>
            <button (click)="removeFromFavorites()" class="btn btn-md btn-danger favoriteButtons" *ngIf="userFavorite">Remove from Favorites</button>
          </div>
        </div>
      </div>

      <div class="streamingServices">
        <div class="streaming" *ngIf="onNetflix">
          <a href={{onNetflix}} target="_blank"><img src='assets/img/netflix-icon.png' alt="Netflix"></a>
        </div>
        <div class="streaming" *ngIf="onHulu">
          <a href={{onHulu}} target="_blank"><img src='assets/img/hulu-icon.png' alt="Hulu"></a>
        </div>
        <div class="streaming" *ngIf="onAmazon">
          <a href={{onAmazon}} target="_blank"><img src='assets/img/amazon-icon.png' alt="Amazon"></a>
        </div>
        <div class="streaming" *ngIf="onHbo">
          <a href={{onHbo}} target="_blank"><img src='assets/img/hbo-go-icon.png' alt="Hbo"></a>
        </div>
      </div>

    </div>
  </div>
  <h3 class="starringTitle">Starring Cast</h3>
  <div class="starring">
    <div class="topBilled" *ngFor='let actor of actorsImages' (click)=navigateToActorById(actor[2])>
      <p class="actorName"><a>{{actor[0]}}</a></p>
      <p *ngIf="actor[3]" class="actorRole">{{actor[3]}}</p>
      <p *ngIf="!actor[3]" class="actorRole">N/A</p>
      <img src={{actor[1]}}>
    </div>
  </div>
  <div class="cast">
    <h5>Cast</h5>
    <div *ngFor='let castMember of movie?.cast' (click)="navigateToActorById(castMember.id)">
      <p><a>{{castMember.name}}</a> -  {{castMember.character_name}}</p>
    </div>
  </div>
</div>
