<nav class="navbar navbar-default">
   <div class="container-fluid">
     <div class="navbar-header">
       <a class="navbar-brand" routerLink="">Blank and Chill</a>
     </div>
     <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
       <li><a routerLink="">About</a></li>
       <li><a routerLink="">Sign Up</a></li>
       <li><a routerLink="">Movies</a></li>
       <li><a routerLink="">TV</a></li>
       <li><a routerLink="">People</a></li>
     </ul>
     <!--PHONE NAV MENU-->
     <ul class="phone-nav hidden-md hidden-lg">
       <li class="menu"><a href="#">Phone menu</a></li>
     </ul>
   </div><!--end of navbar container-fluid-->
 </nav>
<app-search></app-search>
<router-outlet></router-outlet>
