<nav class="navbar navbar-default">
 <div class="navbar-header">
   <a class="navbar-brand" routerLink="">____ & Chill</a>
 </div>
 <div class="links">
   <ul class="nav navbar-nav hidden-xs">
     <li *ngIf="!user"><a routerLink="account">Sign Up</a></li>
     <li *ngIf="user"><a routerLink="account">User Account</a></li>
   </ul>
 </div>
 <!--PHONE NAV MENU-->
 <ul class="phone-nav hidden-sm hidden-md hidden-lg">
   <li class="menu"><img src="assets/img/menu.png" alt="navigation"></li>
 </ul>
 <div class="hidden-menu">
   <ul class="nav navbar-nav">
     <li><a routerLink="">Home</a></li>
     <li *ngIf="!user"><a routerLink="account">Sign Up</a></li>
     <li *ngIf="user"><a routerLink="account">User Account</a></li>
     <h5 class="close-menu">close X</h5>
   </ul>
 </div>
</nav>
<router-outlet></router-outlet>
