<app-search></app-search>

<div class="wrap">
  <div class="titleSection">
    <img class="banner"[src]="foundShow?.banner" alt="{{foundShow?.title}}">
    <img class="poster" [src]="foundShow?.poster" alt="{{foundShow?.title}}">
    <div class="text">
      <h1 class="title">{{foundShow?.title}}</h1>
      <p>{{foundShow?.overview}}</p>
      <div class="row">
        <div class="col-sm-8">
          <p><strong>Rating:</strong> {{foundShow?.rating}}</p>
          <p><strong>Release Year:</strong> {{foundShow?.first_aired.split('-')[0]}}</p>
        </div>
        <div class="col-sm-4">
          <div *ngIf="user" class="userButtons">
            <button (click)="addToFavorites(foundShow?.id)" class="btn btn-md btn-success favoriteButtons" *ngIf="!userFavorite">Add to Favorites</button><br>
            <button (click)="removeFromFavorites(foundShow?.id)" class="btn btn-md btn-danger favoriteButtons" *ngIf="userFavorite">Remove from Favorites</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- <h3 class="starringTitle">Starring Cast</h3>
  <div class="starring">
    <div class="topBilled" *ngFor='let actor of actorsImages' (click)=navigateToActorById(actor[2])>
      <p><a>{{actor[0]}}</a></p>
      <p>{{actor[3]}}</p>
      <img src={{actor[1]}}>
    </div>
  </div> -->
  <div class="cast">
    <h5>Cast</h5>
    <div *ngFor='let castMember of foundShow?.cast' (click)="navigateToActorById(castMember.id)">
      <p><a>{{castMember.name}}</a> - {{castMember.character_name}}</p>
    </div>
  </div>
</div>
