.flexContainer {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.mediaContainer {
  margin-right: 10px;
  position: relative;
  margin-bottom: 10px;
}
button {
  position: absolute;
  border-radius: 0;
}
.sourceContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0px;
  bottom: 0;
}
.source {
  position: relative;
}
.source img {
  margin-bottom: 5px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  position: relative;
  left: 10px;
  top: 0;
  vertical-align: top;
}
.poster {
  width: 200px;
}
