<h2>Favorite Movies</h2>
<div class="mediaContainer" *ngFor="let movie of fbUser?.favoriteMovies">
  <button class="btn btn-danger" (click)="removeFavoriteMovies(movie)">X</button>
  <img class="poster" src={{movie.poster_medium}} alt={{movie.title}} (click)="navigateToMovie(movie.id)">
  <div class="sourceContainer">
    <span *ngFor="let source of movie.sources">
      <a class="source" href={{source.link}} target="_blank" *ngIf="source.source === 'hulu' || source.source === 'hulu_plus'">
        <img src="/assets/img/hulu-icon.png" alt="Hulu Icon">
      </a>
      <a class="source" href={{source.link}} target="_blank" *ngIf="source.source === 'amazon_prime'">
        <img src="/assets/img/amazon-icon.png" alt="Amazon Icon">
      </a>
      <a class="source" href={{source.link}} target="_blank" *ngIf="source.source === 'hbo_go' || source.source === 'hbo_now'">
        <img src="/assets/img/hbo-go-icon.png" alt="HBO GO Icon">
      </a>
      <a class="source" href={{source.link}} target="_blank" *ngIf="source.source === 'netflix'">
        <img src="/assets/img/netflix-icon.png" alt="Netflix Icon">
      </a>
    </span>
  </div>
</div>

<h2>Favorite TV Shows</h2>
<div class="mediaContainer" *ngFor="let show of fbUser?.favoriteShows">
  <button class="btn btn-danger" (click)="removeFavoriteShows(show)">X</button>
  <img class="poster" src={{show.poster}} alt={{show.title}} (click)="navigateToShow(show.id)">
  <span>{{show.network}}</span>
</div>
