/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Exo|Fjalla+One|Muli');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e1e1e1;
}
.navbar-default {
  background: #1f1f1f;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 10px;
  border: none;
  border-radius: 0;
  .navbar-brand {
    padding-left: 40px;
    align-self: flex-start;
  }
  .links {
    padding-right: 40px;
    margin-left: auto;
  }
  .navbar-header {
    margin-left: 7%;
    .navbar-brand {
      height: auto;
      font-size: 2.5em;
      letter-spacing: 1px;
      padding-left: 0px;
      color: lighten(#2b649e, 5%);
      font-family: 'Exo', sans-serif;
      .lighten {
        color: lighten(#2b649e, 25%);
      }
      img {
        display: inline-block;
        width: 70px;
        transform: rotate(70deg);
      }
    }
  }
  .hidden-menu {
    display: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    text-align: center;
    background: rgba(255,255,255, 1);
    width: 100vw;
    transform: translate(-50%, 0);
    a {
      font-size: 1.2em;
      border-bottom: 1px solid lightgrey;
    }
    .close-menu {
      transition: all ease-in-out 200ms;
      padding: 20px;
     &:hover {
       cursor: pointer;
       color: grey;
     }
    }
  }
  .menu {
    margin-top: 12px;
    margin-right: 20px;
    list-style: none;
    transition: all ease-in-out 200ms;
    img {
      width: 60px;
      filter: invert(0.4);
    }
    &:hover {
      cursor: pointer;
      filter: invert(0.8);
    }
  }
}
