<div class="wrap">
  <div class="termsContainer">
    <div class="terms">
      <a [class]="movieActive()" (click)="addCategory('movie')">Movie</a>
      <a [class]="tvActive()" (click)="addCategory('show')">TV</a>
      <a [class]="peopleActive()" (click)="addCategory('person')">People</a>
    </div>
  </div>
  <div class="filtersContainer" *ngIf="showFilters">
    <div class="filters">
      <a [class]="netflixActive()" (click)="addFilter('Netflix')">Netflix</a>
      <a [class]="huluActive()" (click)="addFilter('Hulu')">Hulu</a>
      <a [class]="amazonActive()" (click)="addFilter('Amazon Prime')">Amazon</a>
      <a [class]="hboActive()" (click)="addFilter('HBO NOW')">HBO GO</a>
    </div>
  </div>
  <input type="text" placeholder="search by {{searchedCategory}}" #search (keyup.enter)="searchTerm(search.value);search.value=''">
</div>
