* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  width: 100%;
  height: 3em;
  padding: 3px 7%;
  text-transform: uppercase;
  border: 1px solid lightgrey;
  border-right: none;
  border-left: none;
  margin-bottom: 20px;
}
input:focus {
  outline: none;
}
a {
  padding-right: 15px;
  color: grey;
  text-transform: uppercase;
}
.active {
  color: #2b649e;
  background: grey;
}
.inactive {
  color: bold;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
  color: grey;
}
.filtersContainer {
  background: rgb(47, 46, 46);
  padding: 10px;
  padding-left: 7%;
}
.termsContainer {
  padding: 10px;
  padding-left: 7%;
}
.filtersContainer a, .termsContainer a {
  color: white;
  padding: 12px;
  margin-left: -4px;
  transition: background ease-in-out 200ms;
}
.termsContainer a {
  color: rgb(47, 46, 46);
}
.termsContainer .active {
  background: none;
  color: #2b649e;
}
.filtersContainer a:hover, .termsContainer a:hover {
  background: grey;
}
.termsContainer a:hover {
  background: none;
  color: #2b649e;
}
